{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <title> {% block title %}Sistema CRUD{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}

{% block body %}
    {% block navbar %}{% include 'navbar.html' %}{% endblock %}
    {% block seccion %}{% endblock %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}